<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>E-mail</label>
        <input name="email" type="email">
        <br>
        <label>Password</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>
    <p>Aún no estas registrado?<br>
        <a href="/register"><button>Registrate aquí</button></a><br>
        <a href="/api/sessions/github"><button>Ingresar con GitHub</button></a>
    </p>
</div>
<script src="/js/login.js"></script>