<head>
    <title>Error de inicio de sesión</title>
</head>

<body>
    <h1>Error de inicio de sesión</h1>
    <p>{{message}}</p>
    <p> Si aún no estás registrado: <a href="/api/users/register"><button>Regístrate aquí</button></a>
    </p>
</body>