<h1>Bienvenidos al Chat</h1>
<div>
  <input type="text" id="chat" placeholder="Type your message here" />
</div>

<div>
  <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<a href="/api/products"><button>Ver Productos</button></a>
<a href="/api/carts"><button>Ir al Carrito</button></a>
<a href="/profile"><button>Volver a mi perfil</button></a>

