<div>
    <h1>Mi Perfil</h1>
    <p><b>Nombre: </b>{{user.first_name}} {{user.last_name}} </p>
    <p><b>E-mail: </b>{{user.email}}</p>
    <p><b>Edad: </b>{{user.age}}</p>
</div>
<div>
    <a href="/api/products"><button>Ver Productos</button></a>
    <a href="/api/carts"><button>Ir al Carrito</button></a>
    <a href="/api/messages-view"><button>Ir al chat</button></a><br><br>
    <a href="/api/users/logout"><button>Log out</button></a>
</div>